<%= includes.header %>

<main class="container">
  <div class="jumbotron">
    <h1>Please change your password</h1>
    <p class="lead">You need to set a new password in order to use staRHs.</p>
  </div>
  <article class="row">
    <form class="col-xs-12">
      <fieldset class="form-group">
        <label for="password1">Your new password</label>
        <input type="password" class="form-control" id="password1">
        <small class="text-muted">Please pick a secure password. It must be at least 8 characters long.</small>
      </fieldset>
      <fieldset class="form-group">
        <label for="password2">Repeat your password</label>
        <input type="password" class="form-control" id="password2">
      </fieldset>
      <fieldset>
        <a href="./force-password-change-03.html" class="btn btn-lg btn-primary">
          Change password
        </a>
      </fieldset>
    </form>
  </article>
</main>

<%= includes.footer %>
