<%= includes.header %>

<main class="container">
  <div class="jumbotron">
    <h1>staRHs</h1>
    <p class="lead">Create a culture of positive feedback</p>
  </div>
  <article class="row">
    <form class="col-xs-12">
      <fieldset class="form-group">
        <label for="userid">UserID</label>
        <input type="email" class="form-control" id="userid">
      </fieldset>
      <fieldset class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password">
        <a href="<%= page.filename %>#" class="pull-right">
          Forgot username / password
        </a>
      </fieldset>
      <fieldset>
        <a href="./force-password-change-02.html" class="btn btn-lg btn-primary">
          Login
        </a>
      </fieldset>
    </form>
  </article>
</main>

<%= includes.footer %>
